<form
  #userForm="ngForm"
  (ngSubmit)="login()"
  class="md:flex justify-center px-20 bg-white gap-10"
>
  <div
    class="h-auto w-3/5"
    style="
      background-image: url('register.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;
      background-color: white;
    "
  ></div>
  <div
    class="bg-white my-10 rounded w-1/4 flex flex-col gap-3 shadow-sm drop-shadow-md"
  >
    <div class="text-center mt-10">
      <mat-icon>person</mat-icon>
      <div class="text-2xl my-2 font-medium">Login</div>
    </div>
    <div class="w-full">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          name="email"
          required
          #emailModel="ngModel"
          placeholder="Email"
          [(ngModel)]="email"
        />
        @if(emailModel.errors?.['required']){
        <mat-error> Email is required </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-full" apperance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide() ? 'password' : 'text'"
          type="password"
          (click)="togglePassword($event)"
          required
          name="password"
          placeholder="Password"
          [(ngModel)]="password"
          #passwordModel="ngModel"
        />
        @if(passwordModel.errors?.['required']){
        <mat-error> Password is required </mat-error>
        }
        <mat-icon (click)="togglePassword($event)" matSuffix>{{
          hide() ? "visibility_off" : "visibility_on"
        }}</mat-icon>
      </mat-form-field>

      <button
        type="submit"
        [disabled]="!userForm.valid"
        class="w-full mb-5 bg-blue-600 text-white rounded-md p-2 disabled:opacity-30"
      >
        Login
      </button>
    </div>
  </div>
</form>
